/* src/components/Header.css */

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: inherit; /* Ensure it inherits the background */
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  transition: transform 0.3s ease-in-out; /* Add transition for smooth hiding/showing */
  animation: slideDown 1s ease-in-out; /* Add slide down animation */
}

header.hidden {
  transform: translateY(-100%); /* Hide header by moving it up */
}

header.visible {
  transform: translateY(0); /* Show header by moving it to its original position */
}

header .logo {
  display: flex;
  align-items: center;
  margin-left: 2rem; /* Add margin to move it right */
  animation: fadeIn 1s ease-in-out 0.5s both; /* Add fade-in animation with delay */
}

header .logo img {
  height: 50px;
  transition: transform 0.3s; /* Add transition for magnifying effect */
}

header .logo img:hover {
  transform: scale(1.2); /* Magnify on hover */
}

header nav {
  display: flex;
  gap: 1.5rem;
  animation: fadeIn 1s ease-in-out 0.5s both; /* Add fade-in animation with delay */
}

header nav a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border-radius: 7px;
  transition: background-color 0.3s ease, transform 0.3s; /* Add transition for magnifying effect */
}

header nav a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  text-decoration: none;
  border-radius: 7px;
  transform: scale(1.2); /* Magnify on hover */
}

header nav a.active {
  color: #ffffff; /* Highlight color for the active link */
  text-decoration: underline; /* Underline the active link */
}

header nav a:not(.active) {
  color: #bbbbbb; /* Slightly gray color for inactive links */
}

header nav a.resume-link {
  color: #00aaff; /* Optional: different color for the resume link */
}
