/* src/components/Home.css */
#home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 0 auto;
  padding: 8rem 2rem;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background: inherit; /* Ensure main content inherits the background */
}

.home-content {
  flex: 1;
  padding: 2rem;
  text-align: center; /* Center-align title */
  max-width: 400px;
}

.home-content h1 {
  font-size: 4rem;
  margin: 0;
  font-weight: 700;
  color: #ffffff;
}

.home-content p {
  font-size: 1.5rem;
  margin: 1rem 0;
  color: #ffffff;
}

.btn-cv {
  display: inline-block;
  background-color: #ffffff;
  color: #121212;
  border: none;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  border-radius: 50px;
  margin-top: 2rem;
  font-weight: 700;
  transition: background-color 0.3s ease;
  text-decoration: none; /* Remove underline */
}

.btn-cv:hover {
  background-color: #a5a5a5;
}

.home-image {
  flex: 1;
  text-align: right; /* Align image to the right */
  padding: 2rem;
}

.home-image img {
  max-width: 75%; /* Adjust image size */
  height: auto;
  border-radius: 15px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align the links section */
  padding: 5rem;
}

.section-link {
  margin: 2rem 0;
  width: 100%;
  max-width: 1200px; /* Adjust as needed for your layout */
}

.section-link h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 1rem;
  text-align: center; /* Center-align titles */
}

.section-link p {
  font-size: 1.1rem;
  color: #ffffff;
  margin-bottom: 1rem;
  text-align: left; /* Ensure descriptions are left-aligned */
}

.section-link .btn-more {
  display: block; /* Make the link a block element */
  color: rgb(0, 153, 255);
  text-decoration: none;
  font-weight: 700;
  border-radius: 7px;
  text-align: left; /* Left-align the "Learn More" links */
  margin-top: 1rem;
}

.section-link .btn-more:hover {
  text-decoration: underline;
}

.footer-text {
  text-align: center;
  padding: 2rem;
  color: #ffffff;
  background: inherit; /* Ensure footer inherits the background */
  margin-top: 2rem;
}
