#projects {
  padding: 4rem 1rem;
  color: #ffffff;
  text-align: left;
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 1rem;
  text-align: center; /* Center-align titles */
}

.project {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  margin-bottom: 2rem;
}

.project-image {
  width: 300px; /* Adjust as needed */
  height: auto;
  border-radius: 15px;
  margin-bottom: 1rem;
}

.project-content {
  max-width: 1200px;
  text-align: left;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 1rem;
}

p {
  font-size: 1.1rem;
  color: #c9c9c9;
  margin-bottom: 1rem;
}

.project-gallery {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.gallery-image {
  width: 32%; /* Adjust as needed */
  height: auto;
  border-radius: 10px;
}

.project-links {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.link-logo {
  width: 40px; /* Adjust as needed */
  height: 40px;
  transition: transform 0.3s;
}

.link-logo:hover {
  transform: scale(1.15);
}

.footer-text {
  text-align: center;
  padding: 2rem;
  color: #ffffff;
  background: inherit; /* Ensure footer inherits the background */
  margin-top: 2rem;
}
