/* src/components/Projects.css */
#projects {
    padding: 4rem 1rem;
    color: #ffffff;
    text-align: left;
  }
  
  h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 1rem;
    text-align: center; /* Center-align titles */
  }
  
  p {
    font-size: 1.1rem;
    color: #c9c9c9;
  }
  